html {
  font-family: "Noto Sans", sans-serif;
}

.jap {
  font-family: "Noto Sans Japanese", sans-serif;
}

.noto {
  font-family: "Noto Sans", sans-serif;
}

a {
  text-decoration: none;
  border-style: none;
  color: #005e76;
}

a:hover {
  color: #000;
}

.btn {
  text-decoration: none;
  background-color: transparent;
  color: #005e76;
}

.btn:hover {
  color: #005e76;
}

.btn-ghost {
  border: 2px solid;
  border-radius: 4px;
  border-color: #8bc9d9;
}

.btn-ghost:hover {
  border-color: #005e76;
  background-color: #8bc9d9;
}

hr {
  border-color: #e2e2e2;
}

.border-b {
  border-bottom: solid 2px #8bc9d9;
}

.border-b:hover {
  border-bottom: solid 2px #0084a6;
}

@media only screen and (min-width: 60em) {

  .wrapper {
    max-width: 38em;
  }

  .text-l {
    text-align: left;
  }

  .text-r {
    text-align: right;
  }

  .pad-f {
    padding-bottom: .5em;
  }

}
